Thumbs.db
*.obj
*.exe
*.dll
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.rar
*.zip
*.lib
*.bmp
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
*.ico
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
/bk

.localhistory/
*.she
*.dat
*.positions
*.plg
*.opt
*.res
*.idb
*.map
/NetBot_VTCP
/VTCP
*.exp
svchostDll
*.iobj
*.ipdb
*.sdf
*.ipch
/ipch
